body {
  font-family: sans-serif;
  text-align: center;
  background: #f9f9f9;
}

/* 모바일 환경에서 오목판을 화면 크기에 맞게 조정 */
#board {
  max-width: 100%;    /* 부모 요소(화면)의 최대 가로 길이를 넘지 않음 */
  height: auto;       /* 높이를 자동으로 비율에 맞춰 조정 */
  box-sizing: border-box;
}


#room-list-screen,
#game-screen {
  margin-top: 20px;
}

li {
  list-style: none;
  margin: 10px 0;
}

button {
  margin-left: 10px;
}

#create-popup,
#password-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
}

.popup-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
}
